*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-links ul {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
    align-items: start;

}
.social-links ul li i{
    justify-content: space-around;
}
